<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auron's System</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="mainContainer">
        <div class="third hubContainer">
            <p>Hub</p>
            <div class="hubAccessContainer">
                <div class="hubAccessFirstSubContainer">
                <% quickAccessInstances.forEach(instance => {%>
                    <a href="<%=instance.link%>" class="quickAccessInstanceContainer">
                    <div>
                                                <p class="quickAccessInstanceText"><%=instance.text%></p>

                    </div>
                    <div style="background-image: url('<%= instance.img %>');"> </div>
                    </a>
                    <%})%>
                </div>
                <div class="hubAccessSecondSubContainer">
                                    <% secondaryAccessInstances.forEach(instance => {%>
                    <a href="<%=instance.link%>" class="quickAccessInstanceContainer">
                    <div>
                                                <p class="quickAccessInstanceText"><%=instance.text%></p>

                    </div>
                    <div style="background-image: url('<%= instance.img %>');"> </div>
                    </a>
                    <%})%>

                </div>
            </div>
            <div class="quickActionContainer">
                <div class="quickActionLabelAndButtonsContainer">
                    <div>Brainstorming</div>
                    <div>Quick Action Tab</div>
                    <div>Task Info</div>
                </div>
                <div class="quickActionTasksContainer">
                    <% quickActionTasks.forEach((task) => { %>
                        <div class="quickActionTask">
                            <p data-moveType="qa" data-id="<%=`taskId${task.id}`%>" data-position="<%=task.position%>" contenteditable="plaintext-only"><%=task.content%></p>
                        </div>
                    <% }) %>
                </div>
                <div class="quickActionsSpacingDiv"></div>
            </div>
        </div>
        <div class="third projectsContainer">
            <div class="projectNameDiv">Project Name</div>
            <div class="projectNextTaskDiv">Next Task</div>
            <div class="projectTaskDateDiv">Sample Date</div>

        <% projectInstances.forEach((instance) => {%>
            <div class="projectNameDiv">
                <p class="pi" data-moveType="pi" data-minimove="1" data-id="<%=instance.id%>" data-type="project_name" data-position="<%=instance.position%>" contenteditable="plaintext-only"><%=instance.project_name%></p>
            </div>
            <div class="projectNextTaskDiv">
                <p class="pi" data-moveType="pi" data-minimove="2" data-id="<%=instance.id%>" data-type="next_action" data-position="<%=instance.position%>" contenteditable="plaintext-only" ><%=instance.next_action%></p>
            </div>
            <div class="projectTaskDateDiv">
                <p class="pi" data-moveType="pi" data-minimove="3" data-id="<%=instance.id%>" data-type="example_date" data-position="<%=instance.position%>" contenteditable="plaintext-only" ><%=instance.example_date%></p>
            </div>
            <%})%>

        </div>
        <div class="third thirdContainer">Third Third</div>
    </div>
</body>
  <script src="/reload/reload.js"></script>
    <script type="module" src="js/main.js"></script>

</html>