<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=projectData.project_name%></title>
        <link rel="stylesheet" href="/css/projectHub.css">
        <link rel="stylesheet" href="/css/projectHubDataPage.css">
        <link rel="stylesheet" href="/css/projectHubMainPage.css">
        <link rel="stylesheet" href="/css/projectHubGoalsPage.css">
<link href="https://fonts.googleapis.com/css2?family=New+Rocker&display=swap" rel="stylesheet">


        <script>window.projectID = <%=JSON.stringify(projectData.id)%></script>
</head>
<body>
    <a class="backToHubLink" href="/">Back to Hub</a>
      <div class="pageMoveButtonContainer">
        <p class="prevPageButton"><</p></div>
      <div class="pageMoveButtonContainer">
        <p class="nextPageButton">></p>
      </div>
    <div class="mainContainer position">


  <div class="dataPageContainer page1">
    <div class="dataPageHeader">
      <p><%=projectData.project_name%> Data Points</p>
    </div>
    <div class="dataPageContentContainer">
      <div class="dataPageDataScrollerDiv">
        <div data-projectID="<%=projectData.id%>" class="addNoteButton">
          <p>+</p>
        </div>
      <% notesData.forEach((note,i) => { %>
        <div data-position="<%=i%>" class="testerInstance">
          <p data-type="note_name" data-id="<%=note.id%>" contenteditable="plaintext-only"> <%=note.note_name%></p>
          <div>
            <p data-type="content" data-id="<%=note.id%>" contenteditable="plaintext-only" class="noteMainContent"><%=note.content%></p>
          <%console.log("aaaa" + JSON.stringify(note.content))%>
          </div>
        </div>
      <%})%>

      </div>
    </div>
  </div>


<div class="mainPageContainer selectedPage page2">
  <div class="header">
    <p>Project Name:
      <span contenteditable="plaintext-only"> <%=projectData.project_name%></p>
  </div>
  <div class="contentContainerDiv">
    <div class="contentTextHeaderDiv">
      <p class="contentTextHeader">Project Main Dump:</p>
    </div>
    <div class="contentTextContainer">
      <p contenteditable="plaintext-only" class="contentText"><%=mainDumpData.content%></p>
    </div>
        <div id="divForGrid"></div>

  </div>
  <div class="quickAccessButtonsContainerDiv"></div>
</div>
<div class="nextPageContainer page3 goalsPage">
  <div class="goalsPageHeader">
    <p><%=projectData.project_name%> Goals Plans and actions:</p>
  </div>
  <div class="goalsPageContentContainer">
    <div class="goalsPageContentDiv">
      <div class="goalsCardContainer">
        <%console.log(goalsData[0])%>
        <%if (goalsData[0]) goalsData[0].objectives.forEach((objective) => {%>
          <div class="objectiveContainer" data-type="objective" data-id=<%=objective.id%>>
            <p class="objectiveHeader" data-key="name" contenteditable="plaintext-only"><%=objective.name%></p>
            <div class="objectiveDetails">
              <p class="objectiveDescription">Description: <span class ="descriptionField" data-key="description" contenteditable="plaintext-only"><%= objective.description || "description" %></span></p>
            </div>
            <div class="objectiveContents">
            <%if (!objective.subSteps) {objective.subSteps = []} %>
            <%if (objective.subSteps) {objective.subSteps.forEach((stage,count) => {%>
              <%console.log(objective.subSteps.length)%>
              <%if (stage.type == "task") {%>
                    <div class="subObjectiveTask" data-id="<%=stage.id%>" data-type="task">
                    <div class="taskOrderUpButton">/\</div>
                    <div class="taskOrderDownButton">\/</div>
                    <div class="checkSubObjectiveButton">✓</div>
                    <div class="removeSubTaskButton">X</div>
                    <p class="goalTaskName">Task: <span class="goalTaskNameField" data-key="name" contenteditable="plaintext-only"><%=stage.name%></span></p>
                    <p class="goalTaskDescription">Description: <span class="goalTaskDescriptionField" data-key="description" contenteditable="plaintext-only"><%=stage.description%></span></p>
                    </div>

                <%}%>

              <%if (stage.type == "sequence") {%>
                <div class="subObjectiveSequence" data-type="sequence" data-id="<%=stage.id%>">Sequence: <span class="sequenceNameField" data-key="name" contenteditable="plaintext-only"><%=stage.name%></span>
                  <div class="sequenceOrderUpButton">/\</div>
                  <div class="sequenceOrderDownButton">\/</div>
                  <div class="removeSubSequenceButton">X</div>
                  <div class="checkSubObjectiveButton">✓</div>
                  <%stage.tasks.forEach((task,i) => {%>
                    <div class="subSequenceTask" data-type="task" data-id="<%=task.id%>">
                    <div class="taskOrderUpButton">/\</div>
                    <div class="taskOrderDownButton">\/</div>
                    <div class="checkSubObjectiveButton">✓</div>
                    <div class="removeSubTaskButton">X</div>
                    <p class="goalTaskName">Task: <span class="goalTaskNameField" data-key="name" contenteditable="plaintext-only"><%=task.name%></span></p>
                    <p class="goalTaskDescription"> Description: <span class="goalTaskDescriptionField" data-key="description" contenteditable="plaintext-only"><%=task.description%></span></p>
                    </div>
                                    <%if (stage.tasks.length > i+1) {%>
                <div class="subSequenceSeparator"> \/</div>

              <%}%>

                    <%})%>
                 <div class="addNewSubtaskButton">+</div>

              </div>

              <%}%>



                <%if (objective.subSteps.length > 1+ count) {%>
                <div class="subObjectiveSeparator"> \/</div>

              <%}%>

              <%})%>

            </div>
            <div class="addSubObjectiveButtons">
              <div class="addSubObjectiveTaskButton button">+T</div>
              <div class="addSubObjectiveSequenceButton button">+S</div>

            </div>
                        </div>
                        



            <%}})%>

                    <%if (!goalsData[0]) {%>

          <div class="objectiveContainer">
            <p class="objectiveHeader" contenteditable="plaintext-only">Sample objective</object>%></p>
            <div class="objectiveDetails"> 
              <p>Description: Sample Details</p>
            </div>
            <div class="objectiveContents">
            </div>
            <div class="addSubObjectiveButtons">
              <div class="addSubObjectiveTaskButton button">+T</div>
              <div class="addSubObjectiveSequenceButton button">+S</div>

            </div>
                        </div>



            <%}%>
            </div>
      <div class="goalsSelectContainer">
        <%if (goalsData[0]) goalsData.forEach((goal) => {%>
          <div data-id="<%=goal.id%>" class="goalDiv">
            <div class="goalIcon"></div>
            <div class="goalTextbox"><%=goal.name%></div>
            <div class="goalAddObjectiveButton">+</div>
          </div>
          <%})%>
          <%if (!goalsData[0]) {%>
                      <div class="goalDiv">
            <div class="goalIcon"></div>
            <div class="goalTextbox">OBamagoal</div>
            <div class="goalAddObjectiveButton">+</div>
          </div>
            <%}%>
      </div>
      </div>

    </div>
  </div>
</div>
</div>

</body>
  <script type="module" src="/js/projectHub.js"></script>
    <script type="module" src="/js/projectHubGoalsPage.js"></script>

  <script src="/reload/reload.js"></script>
</html>