<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=projectData.project_name%></title>
        <link rel="stylesheet" href="/css/projectHub.css">
        <link rel="stylesheet" href="/css/projectHubDataPage.css">
        <link rel="stylesheet" href="/css/projectHubMainPage.css">
        <link rel="stylesheet" href="/css/projectHubGoalsPage.css">
<link href="https://fonts.googleapis.com/css2?family=New+Rocker&display=swap" rel="stylesheet">


        <script>window.projectID = <%=JSON.stringify(projectData.id)%></script>
</head>
<body>
    <a class="backToHubLink" href="/">Back to Hub</a>
      <div class="pageMoveButtonContainer">
        <p class="prevPageButton"><</p></div>
      <div class="pageMoveButtonContainer">
        <p class="nextPageButton">></p>
      </div>
    <div class="mainContainer position">


  <div class="dataPageContainer page1">
    <div class="dataPageHeader">
      <p><%=projectData.project_name%> Data Points</p>
    </div>
    <div class="dataPageContentContainer">
      <div class="dataPageDataScrollerDiv">
        <div data-projectID="<%=projectData.id%>" class="addNoteButton">
          <p>+</p>
        </div>
      <% notesData.forEach((note,i) => { %>
        <%console.log(notesData)%>
        <div data-position="<%=i%>" class="testerInstance">
          <p data-type="note_name" data-id="<%=note.id%>" contenteditable="plaintext-only"> <%=note.note_name%></p>
          <div>
            <p data-type="content" data-id="<%=note.id%>" contenteditable="plaintext-only" class="noteMainContent"><%=note.content%></p>
          <%console.log("aaaa" + JSON.stringify(note.content))%>
          </div>
        </div>
      <%})%>

      </div>
    </div>
  </div>


<div class="mainPageContainer selectedPage page2">
  <div class="header">
    <p>Project Name:
      <span contenteditable="plaintext-only"> <%=projectData.project_name%></p>
  </div>
  <div class="contentContainerDiv">
    <div class="contentTextHeaderDiv">
      <p class="contentTextHeader">Project Main Dump:</p>
    </div>
    <div class="contentTextContainer">
      <p contenteditable="plaintext-only" class="contentText"><%=mainDumpData.content%></p>
    </div>
        <div id="divForGrid"></div>

  </div>
  <div class="quickAccessButtonsContainerDiv"></div>
</div>
<div class="nextPageContainer page3 goalsPage">
  <div class="goalsPageHeader">
    <p><%=projectData.project_name%> Goals Plans and actions:</p>
  </div>
  <div class="goalsPageContentContainer">
    <div class="goalsPageContentDiv">
      <div class="goalsCardContainer">
        <%goalsData.forEach((objective) => {%>
          <div class="objectiveContainer">
            <p class="objectiveHeader" contenteditable="plaintext-only"> <%=objective.name%></object>%></p>
            <div class="objectiveDetails"> 
              <p>Description: <%=objective.details%></p>
            </div>
            <div class="objectiveContents">
            <%objective.subSteps %>
            <%objective.subSteps.forEach((stage,count) => {%>
              <%console.log(objective.subSteps.length)%>
              <%if (stage.type == "action") {%>
                    <div class="subObjectiveTask">
                    <p class="goalTaskName">Task: <%=stage.name%></p>
                    <p class="goalTaskDescription">Description: <%=stage.description%></p>
                    </div>

                <%}%>

              <%if (stage.type == "sequence") {%>
                <div class="subObjectiveSequence">Sequence: <%=stage.name%>
                  <%stage.tasks.forEach((task,i) => {%>
                    <div class="subSequenceTask">
                    <p class="goalTaskName">Task: <%=task.name%></p>
                    <p class="goalTaskDescription"> Description: <%=task.description%></p>
                    </div>
                                    <%if (stage.tasks.length > i+1) {%>
                <div class="subSequenceSeparator"> \/</div>

              <%}%>

                    <%})%>
              </div>

              <%}%>



                <%if (objective.subSteps.length > count) {%>
                <div class="subObjectiveSeparator"> \/</div>

              <%}%>

              <%})%>
            </div>

            <%})%>
            </div>
      </div>
      <div class="goalsSelectContainer">
        <%goalsData.forEach((goal) => {%>
          <div class="goalDiv">
            <div class="goalIcon"></div>
            <div class="goalTextbox"><%=goal.name%></div>
          </div>
          <%})%>
      </div>
    </div>
  </div>
</div>
</div>

</body>
  <script type="module" src="/js/projectHub.js"></script>
    <script type="module" src="/js/projectHubGoalsPage.js"></script>

  <script src="/reload/reload.js"></script>
</html>